/* --- Schedule Layout --- */

.schedule-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 1rem 0.5rem;
}

.schedule-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 1.5rem;
  row-gap: 0.125rem;
  grid-template-areas:
    "date time"
    "date description";
}

.schedule-entry-date {
  grid-area: date;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule-entry-date-month{
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--mid-col);
  font-family: var(--header-font);
  font-variant: small-caps;
}

.schedule-entry-date-day {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--text-col);
  font-family: var(--header-font);
}

.schedule-entry-time {
  grid-area: time;
  font-weight: 400;
  color: var(--text-col);
  font-size: 1.05rem;
  font-family: var(--header-font);
}

.schedule-entry-description {
  grid-area: description;
  font-size: 1.05rem;
  line-height: 1.6;
  color: var(--text-col);
}

/* --- Event Layout --- */

.event-info-container {
  display: flex;
  flex-direction: row;
}
