---
layout: base
---
{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page['before-content'] %}
        <div class="before-content">
          {% for file in page['before-content'] %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="schedule-container">
        {% assign schedule_year = page.year %}

        {% for event in site.events %}
          {% assign event_year = event.start | date: '%Y' %}
          {% if event_year != schedule_year %}
            {% continue %}
          {% endif %}

          {% assign start_date = event.start | date: '%Y-%m-%d' %}
          {% assign end_date = event.end | date: '%Y-%m-%d' %}

          {% if start_date != end_date %}
            {% assign is_multi_day = true %}
          {% else %}
            {% assign is_multi_day = false %}
          {% endif %}

          <a
            href="{{ event.url | relative_url }}"
            class="schedule-content"
            style="text-decoration:none; color:inherit; display:grid;"
          >
            <div class="schedule-entry-date">
              <div class="schedule-entry-date-month">
                {{ event.start | date: '%b' }}
              </div>
              <div class="schedule-entry-date-day">
                {{ event.start | date: '%d' }}
              </div>
            </div>

            {% if is_multi_day %}
              <div class="schedule-entry-time">
                {{ event.start | date: '%d. %B %H:%M' }}–{{ event.end | date: '%d. %B %H:%M' }}
              </div>
            {% else %}
              <div class="schedule-entry-time">{{ event.start | date: '%H:%M' }}–{{ event.end | date: '%H:%M' }}</div>
            {% endif %}

            <div class="schedule-entry-description">
              {{ event.title }}
              {% if event.subtitle %}
                <div class="schedule-entry-subtitle">{{ event.subtitle }}</div>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>

      {% if page['after-content'] %}
        <div class="after-content">
          {% for file in page['after-content'] %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
