---
layout: base
---
{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page['before-content'] %}
        <div class="before-content">
          {% for file in page['before-content'] %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="schedule-container">
        {% for entry in page.entries %}
          {% assign start_date = entry.start | date: '%Y-%m-%d' %}
          {% assign end_date = entry.end | date: '%Y-%m-%d' %}

          {% if start_date != end_date %}
            {% assign is_multi_day = true %}
          {% else %}
            {% assign is_multi_day = false %}
          {% endif %}

          <div class="schedule-content">
            <!-- Left column: Date -->
            <div class="schedule-entry-date">
              <div class="schedule-entry-date-month">
                {{ entry.start | date: '%b' }}
              </div>
              <div class="schedule-entry-date-day">
                {{ entry.start | date: '%d' }}
              </div>
            </div>

            <!-- Right column: Time and Description -->
            {% if is_multi_day %}
              <div class="schedule-entry-time ">
                {{ entry.start | date: '%d. %B %H:%M' }}–{{ entry.end | date: '%d. %B %H:%M' }}
              </div>
            {% else %}
              <div class="schedule-entry-time">
                {{ entry.start | date: '%H:%M' }}–{{ entry.end | date: '%H:%M' }}
              </div>
            {% endif %}
            <div class="schedule-entry-description">
              {{ entry.description }}
            </div>
          </div>
        {% endfor %}
      </div>

      {% if page['after-content'] %}
        <div class="after-content">
          {% for file in page['after-content'] %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
